<div>
    <h2>Menu</h2>
  
    <div *ngIf="menuItems?.dishes?.length > 0">
      <h3>Dishes</h3>
      <ul>
        <li *ngFor="let dish of menuItems.dishes">
          {{ dish.name }} - {{ dish.price }}
          <input type="number" min="0" [(ngModel)]="dish.quantity" placeholder="Quantity" />
        </li>
      </ul>
    </div>
  
    <div *ngIf="menuItems?.sideDishes?.length > 0">
      <h3>Side Dishes</h3>
      <ul>
        <li *ngFor="let sideDish of menuItems.sideDishes">
          {{ sideDish.name }}
          <input type="number" min="0" [(ngModel)]="sideDish.quantity" placeholder="Quantity" />
        </li>
      </ul>
    </div>

    <button (click)="reviewOrder()">Review Order</button>
    <button ngif="hasOrders" (click)="viewOrders()">My Orders</button>
    <router-outlet></router-outlet>
  </div>
  